<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{site.baseurl}/css/common.css" />
    <title>Planets of the Universe</title>
  </head>

  <body>
    <header>
      <h1>planets of the universe</h1>
      {% include nav.html %}
    </header>
    {{ content }}
    <footer>
      {% include nav.html %}
      <p>2019 Planets of the Universe</p>
    </footer>
  </body>
</html>
